.navbar
{
    margin-bottom: 0;
}

.carousel, .carousel-inner > .item > img
{
    margin: 0 auto;
    height:280px;
}

.carousel
{
    margin-bottom: 30px;
}

#searchBar
{
    width: 300px;
}

#designImage, #productImage, #productInfo
{
    margin: auto;
    width: 80%;
    height: 80%;
}

.thumbnail
{
    max-width: 100%;
    height: auto;
}

#columns a img
{
    border: 2px ridge grey;
    margin-bottom: 20px;
}

#loginButton, #userDropdown, #shoppingCart
{
    display: none;
}

.img-product
{
    margin-bottom: 5%;
}

.productColor
{
    width: 30px;
    height: 30px;
    border: 2px solid black;
}

#quantityProduct,#sizeProduct
{
    width: 25%;
}

@media screen and (min-width: 1px) and (max-width: 480px){
    #columns[data-columns]::before {
	    content: '1 .col-xs-12';
    }
}

@media screen and (min-width: 1px) and (max-width: 767px){
    #columns[data-columns]::before {
        content: '2 .col-xs-6';
    }
}
@media screen and (min-width:768px) and (max-width: 991px){
    #columns[data-columns]::before {
        content: '3 .col-sm-4';
    }
}
@media screen and (min-width:992px) and (max-width: 9999px){
    #columns[data-columns]::before {
        content: '4 .col-md-3';
    }
}

.panel.with-nav-tabs .panel-heading{
    padding: 5px 5px 0 5px;
}
.panel.with-nav-tabs .nav-tabs{
	border-bottom: none;
}
.panel.with-nav-tabs .nav-justified{
	margin-bottom: -1px;
}
